@import "tailwindcss";

.no-scrollbar {
  -ms-overflow-style: none;
  /* IE & Edge */
  scrollbar-width: none;
  /* Firefox */
}

@keyframes spin-slow {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

@keyframes pulse-fast {

  0%,
  100% {
    opacity: 1;
    transform: scale(1);
  }

  50% {
    opacity: 0.5;
    transform: scale(0.95);
  }
}

@keyframes float {

  0%,
  100% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(-10px);
  }
}

.animate-spin-slow {
  animation: spin-slow 2s linear infinite;
}

.animate-pulse-fast {
  animation: pulse-fast 1.2s ease-in-out infinite;
}

.animate-float {
  animation: float 3s ease-in-out infinite;
}